
<div style="text-align:center">
  <h1>
    Angular Practise
  </h1>

</div>
<h1
  [textContent]="title"
  [ngClass]="{ 'with-border' : withBorder}"
  [style.color]="textColor"
  (mouseover)= "onMouseTextOver()"
  (mouseout)= "onMouseTextOut()"
>
</h1>
<button (click)="onClickButton($event)">{{withBorder ? 'Hide' : 'Show'}} border</button>
<!--<app-font-size-editor></app-font-size-editor>-->
<!--<app-hackernews (onclickShowButton)="showArticleContent($event)"></app-hackernews>-->
<!--<app-name-card cardName="danhwith" email="prodev@abc.xyz" phone="0123456789"></app-name-card>-->
<!--<app-pet></app-pet>-->
<!--<app-progress-bar width="65"></app-progress-bar>-->
<!--<nav>-->
<!--  <a [routerLink]="'timelines'" class="link">Life Time Counting Application</a>-->
<!--</nav>-->
<!--<router-outlet></router-outlet>-->
<!--<nav>-->
<!--  <h3>Youtube player</h3>-->
<!--  <a routerLink="youtube" class="link">Youtube</a>-->
<!--</nav>-->
<!--<router-outlet></router-outlet>-->
<app-image-gallery></app-image-gallery>

